@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'RedHatDisplayVF';
    src: url('/fonts/RedHatDisplayVF.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SaaSeriesBDOT';
    src: url('/fonts/SaaSeriesBDOT.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SaaSeriesCDOT';
    src: url('/fonts/SaaSeriesCDOT.woff2') format('woff2');
  }